.slider {
  height:500px; 
  background-image: url('../public/img/slider.jpg');
  background-size: cover;
  background-position: center;
}
.c1{text-decoration: none; color:#000; text-align: center;}
.c1:hover {color: green;}